aiohttp==3.11.12
altair==5.5.0
beautifulsoup4==4.13.3
numpy==2.2.3
pandas==2.2.3
python-dotenv==1.0.1
qdrant-client==1.13.2
requests==2.32.3
sentence-transformers==3.4.1
streamlit==1.42.2
torch==2.6.0
transformers==4.49.0
tqdm==4.67.1
google-generativeai==0.8.4
langchain==0.3.19
langchain-core==0.3.59
langchain-google-genai==2.1.4
langchain-text-splitters==0.3.6
